body{
    margin:auto;
}

#welcomeInfo {
    padding: 10px;
    background-image: url("img/hku_banner.jpeg");
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.containerBody {
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 100%;
    position: relative;
    padding: 20px;
}

#reminder {
    background-color: #cff536a7;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding:10px;
}

.row {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.65);
}
.icon {
    height:3.5em;
}

ul {
list-style-type: none;
}

li > div{
    padding-top: 20px;
}

#email {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.buttons {
    height: 30px;
    width: 30%;
    background: #4d9f3b;
    color: white;
    border: 0;
}

.list-link{
    display: inline-block;
    padding: 0px 2px;
    background-color: #e6e6e6;
    border: 1px solid black;
    text-decoration: none;
    color: #000;
    font-size: small;
    text-align: center;
}