{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseDetails</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="banner">
        <div class="text">
            <h1>{{ course.description }}</h1><br>
            <a href="/manager/"  style="color:white;text-decoration: underline;">Back to Course List</a>

        </div>
        <img src="{% static 'img/banner.png' %}" alt="">
    </div>
    <div class="CourseDetails">
        <div class="CourseDetails_title">
            <svg t="1699698942675" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                p-id="4179" width="50" height="50">
                <path d="M512 187.24L699.501 512 887 836.76H137L324.5 512z" p-id="4180"></path>
            </svg>
            <h1>Course Information</h1>
            <!-- 添加的详细信息链接 -->
        </div>
        <div class="CourseDetails_content">
            <div class="CourseDetails_content_item">
                <h2>Course Name</h2>
                <p>{{ course.course_name }}</p>
            </div>
            <div class="CourseDetails_content_item">
                <h2>Course Id</h2>
                <p>{{ course.course_id }}</p>
            </div>
            <div class="CourseDetails_content_item">
                <h2>Course Schedule</h2>
                <div style="display:flex">
                  {% for schedule in course_schedules %}
                  <div style="padding:20px">
		                <p style="padding-left:50px">{{ schedule.get_weekday_display }}</p>
                        <p>Start Time: {{ schedule.start_time }}</p>   
                        <p>End Time: {{ schedule.end_time }}</p>
                    </div>
                    {% empty %}
                        <p>No course schedules found.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="buttons">
            <!-- 添加报名按钮 -->
            <a href="{% url 'course1_information' course.course_id %}" class="detail-link">Detail</a>
            <form action="{% url 'add_course' course.course_id %}" method="post">
                {% csrf_token %}
                <button type="submit" id="enrollButton">Enroll in Course</button>
            </form>
             <!-- remove_course -->
            <form action="{% url 'remove_course' course.course_id %}" method="post">
                {% csrf_token %}
                <button type="submit" id="dropButton">Drop Course</button>
            </from>
        </div>
        {% if messages %}
        <div class="messages">
            <br>
            {% for message in messages %}
            <h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        </div>
        {% endif %}

        </div>
    </div>
    <br>
    <div class="CourseDetails_content_item" style="padding-left: 111px">
        <h2> Related Courses</h2>
        <ul style="padding-left: 30px">
        {% for course in related_course %}
            <li><a href="/manager/course/{{course.course_id}}" style="padding-left:20px;">{{course.course_name}}: {{course.description}}</a></li>
        {% endfor %}
        </ul>
    </div>
</body>

</html>
