{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="{% static 'curriculum.css' %}">
<title>ICMS Upcoming Course</title>
</head>

<body>
    <div id="welcomeInfo">
        <div class="containerBody">
            <h1>{{student_name}}, Welcome!</h1>
            <h3>Login time: {{ login_time }}</h3>
            <a href="/manager/login_history/" class="list-link">Login History</a>
            <a href="/manager/" class="list-link">View Course List</a>
            <a href="/manager/timetable" class="list-link">View Timetable</a>
            
        </div>
    </div>

    <div id="upcomingCourse">
        <div id="reminder">
            <div class="row">
                <img class="icon" src="{% static 'img/reminder.png' %}">
                <h3>You have class within one hour!</h3>
            </div>
            {% for session in sessions1h %}
                <p>Course: {{session.course.course_name}}</p>
                <p>Time: {{ session.start_time }} </p>
                <p>Classroom address: {{ session.classroom_address }}</p>
            {% endfor %}
        </div>
        <ul>
            <li>
                <div id="courseInfo">
                    <h3>Course Information</h3>
                        {% for session in sessions1h %}
                            <p>Course Name: {{session.course.course_name}}</p>
                            <p>Course ID: {{session.course.course_id}} </p>
                            <p>Course Teacher: <a href="/manager/teacher/{{session.course.teacher.id}}/"> {{session.course.teacher.name}} </a> </p>
                            <p>View Course Moodle: <a href={{session.course.moodle_link}}> View</a> </p>
                        {% endfor %}

                </div>
            </li>

            <li>
                <div id="teacherMsg">
                    <h3>Teacher's Message</h3>
                    {% for session in sessions1h %}
                        <p></p>
                    {% endfor %}
                </div>
            </li>

            <li>
                <div id="zoom">
                    <h3>Zoom Links</h3>
                    <a href="https://hku.zoom.us/j/98307568693?pwd=QmlqZERWeDdWRVZ3SGdqWG51YUtndz09">Join Zoom Meeting</a>
                </div>
            </li>

            <li>
                <div id="materials">
                    <h3>Course Materials</h3>
                    <ul>
                        <li><a href="{% static 'materials/Chapter_0.pdf' %}">Course Intrduction</a></li>
                        <li><a href="{% static 'materials/Lecture_1.pdf' %}">Lecture 1</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <div id="email">
	    <form method="post" action="{% url 'send_email' %}">
                {% csrf_token %}
		<input class="buttons" type="submit" value="Send Email Notification">
            </from>
	</div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</body>
</html>
