{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courseList</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="banner">
        <div class="text">
            <h1>CourseList</h1>
        </div>
        <img src="{% static 'img/banner.png' %}" alt="">
    </div>
    <div class="courseList">
        <table>
            <thead>
                <tr>
                    <th>Course Id</th>
                    <th>Course Name</th>
		    <th>Course Description</th>
		    <th>Lecturer</th>
                    <th>More Information</th>
                </tr>
            </thead>
            <tbody>
                {% for course in course_list %}
                <tr>
                    <td style="text-align: left;">{{ course.course_id }}</td>
                    <td style="text-align: left;">{{ course.course_name }}</td>
		    <td style="text-align: left;">{{ course.description }}</td>
                    <td style="text-align: left;"><a href="teacher/{{ course.teacher_id }}">{{ course.teacher.name }}</a></td>
                    <td style="text-align: left;"><a href="course/{{ course.course_id }}">Check</a></td>
                </tr>
                {% endfor %}

                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</body>

</html>
