{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="{% static 'schedule.css' %}">
<title>ICMS Course Timetable</title>
</head>

<body>
    <div id="welcomeInfo">
        <div class="containerBody">
            <h1>{{student_name}}, Welcome!</h1>
            <h3>Login time:</h3>
            <a href="/manager/" class="list-link">View Course List</a>
        </div>
    </div>

    <div id="reminder">
        <div class="row">
            <img class="icon" src="{% static 'img/noClass.webp' %}">
            <h3>You have no class within one hour</h3>
        </div>
    </div>

    <div id="timetable">
        <h2>Course Schedule</h2>

	<table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thur</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>

            <tbody>
                {% for t_start, t_end in time_ranges %}
                    <tr>
                        <td>{{ t_start|time:"H:i" }} - {{ t_end|time:"H:i" }}</td>
                        {% for course_day in course_schedule %}
                             <td>
                                {% for weekday, start_time, end_time, course_name in course_day %}
                                    {% if start_time <= t_start and t_end <= end_time %}
                                        {{ course_name }}<br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>
</html>
