{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="{% static 'schedule.css' %}">
<title>ICMS Course Timetable</title>
</head>

<body>
    <div id="welcomeInfo">
        <div class="containerBody">
            <h1>{{student_name}}, Welcome!</h1>
            <h3>Login time: {{ login_time }}</h3>
	    
	    <a href="/manager/login_history/" class="list-link">Login History</a>
	    
            <a href="/manager/" class="list-link">View Course List</a>
            <a href="/manager/curriculum" class="list-link">View Upcoming Courses</a>
        </div>
    </div>
    <div id="reminder" style="background-color: #cff536a7;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 10px;">
        <div class="row" style="display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.65);">
            <img class="icon" src="{% static 'img/reminder.png' %}">
            <h3>You have class within one hour!</h3>
        </div>
        {% for session in sessions1h %}
            <p>Course: {{session.course.course_name}}</p>
            <p>Time: {{ session.start_time }} </p>
            <p>Classroom address: {{ session.classroom_address }}</p>
        {% endfor %}
    </div>

    <div id="timetable">
        <h2>Course Schedule</h2>

	<table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thur</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody>
                {% for t_start, t_end in time_ranges %}
                    {% for i in "12" %}
                        <tr>
                            {% if forloop.first %}
                                <td rowspan="2">{{ t_start|time:"H:i" }} - {{ t_end|time:"H:i" }}</td>
                            {% endif %}
                            {% for course_day in course_schedule %}
                                <td>
                                    {% for weekday, start_time, end_time, course, duration, half in course_day %}
                                        {%if not half%}
                                            {% if start_time <= t_start and t_end <= end_time %}
                                                {% if start_time == t_start and duration == 110 and i == '1'%}
                                                    <a href="{% url 'course_detail' course.course_id %}" class="session">{{ course.course.course_name }}</a>
                                                    <p>{{course.classroom_address}}</p>
                                                {% elif t_end <= end_time and duration == 110 %}
                                                    <p class="secondSession"></p>
                                                {% endif %}
                                            {% endif %}
                                        {%else%}
                                            {% if start_time <= t_start and t_end <= end_time %}
                                                {% if start_time == t_start and i == '2'%}
                                                    <a href="{% url 'course_detail' course.course_id %}" class="session">{{ course.course.course_name }}</a>
                                                    <p>{{course.classroom_address}}</p>
                                                {% elif start_time == t_start and i == '1'%}
                                                {% elif t_end == end_time and i == '2'%}
                                                {% elif t_end <= end_time%}
                                                    <p class="secondSession"></p>
\                                               {% endif %}
                                            {% endif %}               
                                        {%endif%}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <script>
            var lectureBlock = document.querySelectorAll('.session');
            var secondSession = document.querySelectorAll('.secondSession');

            lectureBlock.forEach(function(element) {
                // Get the parent node of the lecture element
                var parentNode = element.parentNode;
                parentNode.setAttribute('rowspan', '4');
                parentNode.classList.add("Lecture");            
            });

            secondSession.forEach(function(element) {
                // Get the parent node of the lecture element
                var parentNode = element.parentNode;
                parentNode.remove();
            });
        </script>
    </div>

    <div class="buttons">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="logoutButton" style="margin-left: 50%;">Log Out</button>
        </form>
    </div>
</body>
</html>
